<%- layout('./layouts/boilerplate') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <div class="card">
        <div class="card-body">
          <a href="/<%= blog.author._id %>/posts" 
          style="text-decoration: none; 
            color: #000;">
          <h5 class="card-title"><b><%= blog.author.username %></b></h5>
          </a>
          <hr />
          <% if(loggedIn && !(authorEqualCurrentUser)){ %> <% if(following){ %>
          <form
            action="/<%= blog._id %>/<%= blog.author._id %>/unfollow"
            method="POST"
          >
            <button class="btn btn-outline-success" style="border-radius: 20px">
              Following
            </button>
          </form>

          <% }else{ %>
          <form
            action="/<%= blog._id %>/<%= blog.author._id %>/follow"
            method="POST"
          >
            <button class="btn btn-success" style="border-radius: 20px">
              Follow
            </button>
          </form>
          <% } %> <% } %>
        </div>
      </div>
      <div class="mt-3">
        <% if(loggedIn){ %> <% if(saved){ %>
          <form
            action="/<%= blog._id %>/unsave"
            method="POST"
          >
            <button class="btn btn-secondary">
              Remove from read later!
            </button>
          </form>

        <% }else{ %>
        <form
        action="/<%= blog._id %>/save"
        method="POST"
        >
        <button class="btn btn-primary col-12">
         Read later!
        </button>
        </form>
        <% } %> <% } %>
      </div>
      <!-- <div>
        <input type="button" value="Go back!" onclick="history.back()">
      </div> -->
    </div>

    <!--Function to include line breaks in body  -->
    <% 
      showParaFunc = function(blogText) {
      blogText = blogText.replace(/\r\n/g, '<br>');
      return blogText
      }
    %>

    <div class="col-8">
      <div class="card show-page-card">
        <img src="<%= (blog.coverImage ? blog.coverImage.url : "") %>" alt="" />
        <div class="card-body">
          <h4 class="card-title show-page-title"><%= blog.title %></h4>
          <div>
          <% for(let tag of blog.tagList){ %>
            <a href="/tag/<%= tag %>" class="badge rounded-pill bg-secondary" role="button"><%= tag %></a>
          <% } %>  
        </div>
        <hr>
          <p class="card-text text-muted show-page-description">
            <%= blog.description %>
          </p>

          <p class="card-text show-page-body"><%- showParaFunc(blog.body) %></p>
          <div class="card-footer text-muted mb-3">
            <%= moment(blog.createdAt).fromNow() %>
          </div>

        <div>
          <% if(currentUser && currentUser._id.equals(blog.author._id)){ %>
          <a href="/blog/<%= blog._id %>/edit" class="btn btn-primary">Edit</a>
          <form
            class="d-inline"
            action="/blog/<%= blog._id %>/delete?_method=delete"
            method="POST"
            onsubmit="return confirm('Are you sure you want to delete ?');"
          > 
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
